services:
  db:
    image: postgres:15
    container_name: db
    env_file:
      - ./.env
    environment:
      POSTGRES_SERVER: ${POSTGRES_SERVER}
      POSTGRES_PORT: ${POSTGRES_PORT}
      POSTGRES_DB: ${POSTGRES_DATABASE}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DATABASE} -p ${POSTGRES_PORT}"]
      interval: 5s
      timeout: 5s
      retries: 10
      start_period: 10s

  backend:
    container_name: backend
    build:
      context: .
      dockerfile: ./backend/Dockerfile
      target: prod
    depends_on:
      db:
        condition: service_healthy
    ports:
      - "8000:8000"
    env_file:
      - ./.env
    healthcheck:
      test: ["CMD-SHELL", "curl -f http://localhost:8000/api/v1/health || exit 1"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 10s

  migrations:
    container_name: db_migrations
    build:
      context: .
      dockerfile: ./backend/Dockerfile
      target: migrations
    volumes:
      - ./backend/src/migrations:/app/src/migrations
    depends_on:
      db:
        condition: service_healthy
    env_file:
      - ./.env
    command: alembic upgrade head

  # frontend:
  #   build:
  #     context: .
  #     dockerfile: frontend/Dockerfile
  #   volumes:
  #     - ./frontend:/app
  #     - /app/node_modules
  #   ports:
  #     - "3000:3000"
  #   environment:
  #     - NODE_ENV=development
  #     - VITE_API_URL=http://localhost:8000
  #   depends_on:
  #     backend:
  #       condition: service_healthy


volumes:
  postgres_data:
