services:
  backend:
    env_file:
      - ./.env
    build:
      context: .
      dockerfile: ./backend/Dockerfile
      target: dev
    volumes:
      - ./backend:/app/backend
    environment:
      - ENV=development
      - PYTHONUNBUFFERED=1

    command: >
      sh -c "make dev-run"
    ports:
      - "8000:8000"
