body {
  margin: 0;
  font-family: "Montserrat", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
}

main {
  flex: 1;
  background: #EAEBF1;
}

header {
  background: #EAEBF1;
  color: white;
  padding: 20px;
  display: flex;
}

section {
  padding: 40px;
  max-width: 900px;
  margin: 0 auto;
}

nav {
  margin-top: 10px;
}

footer {
  text-align: center;
  padding: 20px;
  background: #EAEBF1;
  color: white
}