.nav-toggle {
  margin: 10px 0 0 auto;
  margin-right: 60px; 
  display: inline-flex;
  border-radius: 999px;
  overflow: hidden;
  border: 3px solid white;
  background: white;
  width: 500px;
  color: 2A2A2A;
}

.nav-button {
  flex: 1;
  padding: 8px 18px;
  border: none;
  background: transparent;
  color: inherit;
  cursor: pointer;
  font-weight: 500;
  transition: background-color 0.15s ease, color 0.15s ease;
  border-right: 3px solid white;
  color: #2A2A2A;

}

.nav-button:last-child {
  border-right: none;
}

.nav-button--active {
  background: #475673;
  color: white;
}